
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutReg.cshtml";

}

@using System.Web.Optimization
@model eUseControl.Web1.Models.UserRegister

@using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @id = "LoginForm" }))
{
    @Html.AntiForgeryToken()
    <div class="login-form">
        <div class="sign-in-htm">

        </div>
        <div class="sign-up-htm">
            <div class="group">
                <label for="user" class="label">Никнейм</label>
                @Html.TextBoxFor(m => m.Credential)
            </div>
            <div class="group">
                <label for="pass" class="label">Пароль</label>
                @Html.TextBoxFor(m => m.Password, new
                {
                    @class = "password",
                    type = "password",
                    id = "pass"
                })
            </div>
            
            <div class="group">
                <label for="pass" class="label">Email адрес</label>
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="group123">
                <input type="submit" class="button" value="Зарегистрироваться">
            </div>
            <div class="hr"></div>

        </div>

    </div>
}

